extends layout

block css
  link(href='../css/style.css', rel='stylesheet')

block content
  - var name = user.username
  - var startPokemon = user.startPokemon
  if (homeowner)
    - var homeownername = homeowner.username
    - var homepokemon = homeowner.startPokemon
    h1 Welcome to #{homeownername}'s home!
    h1 Check out these pokemon:
    h1= homepokemon
  else
    h1 Welcome home, #{name}
    h1 This is the visit page
    h1= startPokemon
    button#logout Logout
  a.btn.btn-default#worldMap(href='/worldmap') World Map
  
  
  
block js
  script(src='../js/main.js')
