body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.homemon, .guestmon{
  border: 1px solid black;
}
.homePokemonHighlighted, .guestPokemonHighlighted{
  border: 3px solid gold;
}
